h1 {
  font-size: 80px;
  font-weight: bold;
  color: lightseagreen;
  font-style: italic;
 font-family: Baskerville, 'Times New Roman', serif;
  
}

.para {
margin: 40px;
text-align: justify;
text-justify: inter-word;

}


html { 
background: url("./Pokeball.jpg") no-repeat center center fixed !important; 
background-size: cover !important;
background-repeat: no-repeat !important;
}


.wrapper {
  background-color: rgba(0, 0, 0, 0.692);
  width: 700px;
  display: flex;
align-items: center;
justify-content: center;
height: 100%;
text-align: center;
margin: 0 auto;
padding: 50px;
text-align: justify;
text-justify: inter-word;
position: relative;
color: white;
margin-top: 40px;
padding-top: 5px;
font-family: Arial, Helvetica, sans-serif

}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h2 {
  text-align: center;
  padding: 20px 0;
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: lightblue;

}


#logo {
  width: 30px;
  height: 30px;
  padding: 5px;

}



 footer {
  align-items: center;
  position: absolute;
  margin-left: 20px;
 }


 #img {
  width: 600px;
  height: 400px;
  position: relative;
  align-items: center;
  margin: 20px;
 }

 #pikachu {
  width: 200;
  height: 200px;
  position: relative;
  align-items: center;
  padding-left: 200px;
 }

 #logo2 {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;



}

#logo1 {
  display: inline-block;
  width: 40px;
  height: 30px;
  padding: 5px;



}

:visited { 
  text-decoration: none; 
  color: black; 
 }

 